.page {
    background-color: #2a2c2f;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    padding: 28px 0 24px 0;
    max-width: 1280px;
    margin: 0 auto;
    color:white;
  

 
}