.cover {
    max-width: 92.5%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;
    background-image: url(../../../image/cover.jpg);
    background-size: cover;
}


@media screen and (max-width: 1279px) {
    .cover {
        max-width: 100%;
    }
}