.cover__overlay::before {
    content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  z-index: -1;
}


.cover__overlay:hover::before {
    opacity: .3;
}

.cover__overlay {
    color: inherit;
    text-decoration: none;
}

.cover__overlay:hover {
    cursor: url(../../../image/Imported\ Layers\ Copy\ 4.svg), pointer;
}
