.cover__title {
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    max-width: 47%;
    text-align: center;
    margin-top: 215px;
}