.cover__title {
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    max-width: 560px;
    text-align: center;
    
}

@media screen and (max-width: 767px) {
   .cover__title { 
        
        font-size: 32px;
        line-height: 35px;
   }
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    .cover__title { 
         max-width: 54.6%;
    }
 }